github-config-element {
  .github-config input,
  textarea {
    padding: 0.25rem;
  }
  .github-config fieldset {
    display: grid;
    padding-inline: 16px;
  }
  .github-config label {
    display: block;
  }
  .github-config label + * {
    margin-top: 4px;
  }
  .github-config menu {
    display: grid;
    justify-content: start;
    grid-auto-flow: column;
    gap: 8px;
    margin: 0;
    padding: 0;
  }
  .github-config .field-list {
    display: grid;
    gap: 12px;
  }
  .github-config textarea {
    resize: none;
  }
  .github-config .field {
    display: grid;
  }
}
