.c-navbar {
  display: flex;
  flex-direction: column;
  height: 100%;

  background-color: #ddd;
  overflow: auto;
}

.c-navbar menu {
  display: grid;
  grid-auto-flow: column;
}

.c-navbar menu li {
  display: grid;
}

.c-navbar ul {
  flex-grow: 1;
}

.c-navbar .nav-item {
  display: grid;
}

.c-navbar .nav-item button {
  text-align: start;
  background: none;
  border: none;
  padding: 4px;
  cursor: pointer;
  max-width: 32ch;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.c-navbar .nav-item button:hover {
  text-decoration: underline;
}
