.haiku-editor {
  font-family: monospace;
}

.haiku-editor [data-depth]::before {
  content: " • ";
  white-space: pre;
  position: absolute;
  transform: translateX(-3ch);
}

.haiku-editor [data-depth="0"] {
  padding-left: 3ch;
}
.haiku-editor [data-depth="1"] {
  padding-left: 5ch;
}
.haiku-editor [data-depth="2"] {
  padding-left: 7ch;
}
.haiku-editor [data-depth="3"] {
  padding-left: 9ch;
}
.haiku-editor [data-depth="4"] {
  padding-left: 11ch;
}
.haiku-editor [data-depth="5"] {
  padding-left: 13ch;
}
.haiku-editor [data-depth="6"] {
  padding-left: 15ch;
}
.haiku-editor [data-depth="7"] {
  padding-left: 17ch;
}
.haiku-editor [data-depth="8"] {
  padding-left: 19ch;
}
.haiku-editor [data-depth="9"] {
  padding-left: 21ch;
}
