html,
body {
  height: 100%;
}

.c-codemirror-container {
  min-width: 0; /* allow text-editor to horizontally collapse and scroll */
}

.c-codemirror-container {
  .cm-content {
    caret-color: auto !important;
  }
}

.c-shell {
  height: 100%;
  display: grid;
  grid-template:
    "main aside" 1fr
    "bar bar" auto / 1fr auto;
}

.c-shell__main {
  grid-area: main;
}
.c-shell__aside {
  grid-area: aside;
}
.c-shell__bar {
  grid-area: bar;
}

.cm-editor {
  height: 100%;
}
