html,
body {
  height: 100%;
}

.c-codemirror-container {
  height: 100%;
  min-width: 0; /* allow text-editor to horizontally collapse and scroll */
}

.c-codemirror-container {
  .cm-content {
    caret-color: auto !important;
  }
}

.cm-editor {
  height: 100%;
}

.c-shell__dialog {
  top: 0;
  width: min(80vw, 40rem);
  margin: auto;
}

.c-top-panel {
  display: grid;
  grid-template:
    "prompt status" auto
    "menu menu" 1fr/1fr auto;
}
.c-top-panel__menu {
  grid-area: menu;
}
.c-top-panel__prompt {
  grid-area: prompt;
}
.c-top-panel__status {
  grid-area: status;
}

.c-bottom-panel {
  display: grid;
}
