omnimenu-element .c-node-list:empty {
  display: none;
}

omnimenu-element .c-node-list {
  max-height: min(20rem, calc((100vh - 2rem) / 2)); /* roughly half of viewport minus the top panel */
  overflow-y: auto;
}
