.c-terminal[data-is-expanded="true"] {
  max-height: 240px;
}

.c-terminal {
  position: relative;
  background-color: #333;
  color: white;
  overflow-y: scroll;
}

.c-terminal__toggle {
  position: absolute;
  top: 0;
  right: 0;
}
