@import url(./styles/variables.css);
@import url(./styles/reset.css);
@import url(./styles/elements.css);
@import url(./styles/components.css);

body {
  font-family: monospace;
  color: white;
  background-color: var(--gray);
}
