backlinks-element .c-backlink-list {
  max-height: min(20rem, calc((100vh - 2rem) / 3)); /* roughly a third of viewport minus the top panel */
  overflow-y: auto;
}

backlinks-element:has(.c-backlink-list:empty) {
  display: none;
}

backlinks-element li {
  list-style: none;
  display: grid;
}

backlinks-element li > *:where(a, button) {
  display: grid;
  border: none;
  padding: 4px 8px;
  font-size: 14px;
  text-decoration: none;
  cursor: pointer;
  text-align: start;
  color: var(--fg-base);
  background-color: var(--bg-base);
  outline: none;

  &:where(:hover, :focus) {
    color: var(--fg-active);
    background-color: var(--bg-active);
  }
}
