omnibox-element .c-omnibox-container {
  display: grid;
}

omnibox-element .c-omnibox-input {
  padding: 8px 8px;
  border: none;
  outline: none;
  color: var(--fg-mm);
  background-color: black;

  &:where(:hover, :focus) {
    color: var(--fg);
  }
}
