omnibox-element .c-omnibox-container {
  display: grid;
}

omnibox-element .c-omnibox-input {
  padding: 8px 8px;
  border: none;
  outline: none;
  color: var(--fg-base);
  background-color: var(--bg-base);

  &:where(:hover, :focus) {
    background-color: black;
  }
}
