navbar-element {
  display: flex;
  flex-direction: column;
  height: 100%;

  background-color: #ddd;
  overflow: auto;
}

navbar-element menu {
  display: grid;
  grid-auto-flow: column;
}

navbar-element menu li {
  display: grid;
}

navbar-element ul {
  flex-grow: 1;
}

navbar-element .nav-item {
  display: grid;
}

navbar-element .nav-item button {
  text-align: start;
  background: none;
  border: none;
  padding: 4px;
  cursor: pointer;
}
navbar-element .nav-item button:hover {
  text-decoration: underline;
}
