hud-element {
  .c-hud-bar {
    display: block;
    height: 1px;
    width: 100%;

    &[data-status="unknown"] {
      background-color: #282c34;
    }

    &[data-status="clean"] {
      background-color: #282c34;
    }

    &[data-status="add"] {
      background-color: #e5c07b;
    }

    &[data-status="modify"] {
      background-color: #e5c07b;
    }
  }
}
