hud-element {
  .c-hud-bar {
    display: block;
    height: 1px;
    width: 100%;

    &[data-status="unknown"] {
      background-color: var(--bg);
    }

    &[data-status="clean"] {
      background-color: var(--bg-active);
    }

    &[data-status="add"] {
      background-color: var(--bg-warn);
    }

    &[data-status="modify"] {
      background-color: var(--bg-warn);
    }
  }
}
