html {
  color-scheme: light dark;
}

* {
  font-family: inherit;
  font-size: inherit;
}

input:where([type="text"], [type="url"], [type="search"]) {
  padding: 0.25rem;
}

button {
  padding: 0.25rem;
}
